@model prjVisaSupplier.Models.TVorder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TVorder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FForPickupOrDeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FForPickupOrDeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FInterviewReminder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FInterviewReminder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEvaluate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEvaluate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMemo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMemo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCoupon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCoupon.FCouponId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCustomer.FCustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FProduct.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStatus.FId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
