@section Styles
{
    <link rel="stylesheet" href="~/css/cardSlider.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
        #chartdiv {
            width: 100%;
            height: 600px;
        }
    </style>
}
<div class="col-sm-6 col-md-6 input-bgcolor">
    <div class="input-wrap">
        <div id="areaDiv" class="input-field searchbar-dropdown">
            <label id="areaLabel" class="">洲別/區域</label>
            <select type="text" onchange="regionChange(event, this.value);">
                <option value="0">請選擇地區</option>
                <option>亞洲</option>
                <option>北美洲</option>
                <option>中南美洲</option>
                <option>歐洲</option>
                <option>非洲</option>
                <option>大洋洲</option>
            </select>
            <label id="areaLabel" class="">國家</label>
            <select type="text" class="input-select">
                <option value=0>請選擇國家</option>
            </select>
        </div>
    </div>
</div>


<div id="chartdiv"></div>

<section class="game-section">
    <h2 class="line-title">快速入口</h2>
    <div class="owl-carousel custom-carousel owl-theme" id="enterance">
        <div class="item active" style="background-image: url(/VRegion/台灣.jpg);">
            <div class="item-desc">
                <h3>台灣</h3>
                <p>
                    <a class="nav-link text-white" asp-area="" asp-controller="TVproducts" asp-action="IndexJson">台灣護照/簽證</a>
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/北美洲.jpg);">
            <div class="item-desc">
                <h3>北美洲</h3>
                <p>
                    @foreach (var item in ViewBag.北美洲)
                    {
                        <a class="nav-link text-white" asp-area="" asp-controller="TVproducts" asp-action="IndexJson">@item.FCountry</a>
                    }
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/中南美洲.jpg);">
            <div class="item-desc">
                <h3>中南美洲</h3>
                <p>
                    @foreach (var item in ViewBag.中南美洲)
                    {
                        <a class="nav-link text-white" asp-area="" asp-controller="TVproducts" asp-action="IndexJson">@item.FCountry</a>
                    }
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/亞洲.jpg);">
            <div class="item-desc">
                <h3>亞洲</h3>
                <p>
                    @foreach (var item in ViewBag.亞洲)
                    {
                        <a class="nav-link text-white" asp-area="" asp-controller="TVproducts" asp-action="IndexJson">@item.FCountry</a>
                    }
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/歐洲.jpg);">
            <div class="item-desc">
                <h3>歐洲</h3>
                <p>
                    @foreach (var item in ViewBag.歐洲)
                    {
                        <a class="nav-link text-white" asp-area="" asp-controller="TVproducts" asp-action="IndexJson">@item.FCountry</a>
                    }
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/大洋洲.jpg);">
            <div class="item-desc">
                <h3>大洋洲</h3>
                <p>
                    @foreach (var item in ViewBag.大洋洲)
                    {
                        <a class="nav-link text-white" asp-area="" asp-controller="TVproducts" asp-action="IndexJson">@item.FCountry</a>
                    }
                </p>
            </div>
        </div>
    </div>
</section>

<section class="game-section">
    <h2 class="line-title">熱門申辦項目</h2>
    <div class="owl-carousel custom-carousel owl-theme" id="enterance">
        <div class="item active" style="background-image: url(/VRegion/台灣.jpg);">
            <div class="item-desc">
                <h3>台灣護照</h3>
                <p>
                    台灣護照/簽證
                </p>
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/中國.jpg);">
            <div class="item-desc">
                <h3>台胞證</h3>
                
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/泰國.jpg);">
            <div class="item-desc">
                <h3>泰國簽證</h3>
                
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/印度.jpg);">
            <div class="item-desc">
                <h3>印度簽證</h3>
                
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/美國.jpg);">
            <div class="item-desc">
                <h3>美國簽證</h3>
                
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/巴西.jpg);">
            <div class="item-desc">
                <h3>巴西簽證</h3>
                
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/杜拜.jpg);">
            <div class="item-desc">
                <h3>杜拜簽證</h3>
                
            </div>
        </div>
        <div class="item" style="background-image: url(/VRegion/越南.jpg);">
            <div class="item-desc">
                <h3>越南簽證</h3>

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        let countries = [];
        let resultObject = {};
        let regions = [];

        const fetchString = '@Url.Content("~/TVproducts/VVProductEnabled")'

        async function getProductCount() {
            try {
                const response = await fetch(fetchString)
                if (!response.ok) {
                    console.log(response.status);
                    throw new Error(`${response.status}`);
                }
                const data = await response.json();

                const countryCount = {};
                data.forEach(item => {
                    const country = item["國家"];
                    if (country in countryCount) {
                        countryCount[country]++;
                    } else {
                        countryCount[country] = 1;
                    }
                });

                Object.keys(countryCount).forEach(country => {
                    resultObject[country] = countryCount[country];
                });

                const convertedData = [];

                // 遍历resultObject中的每个键值对
                for (const country in resultObject) {
                    if (resultObject.hasOwnProperty(country)) {
                        // 将中文国家名称转换为大写的英文名称
                        const englishCountry = Object.keys(am5geodata_lang_tw_ZH).find(key => am5geodata_lang_tw_ZH[key] === country);

                        // 检查englishCountry是否存在于lang中，如果存在，则获取其对应的字母代号作为id
                        const id = englishCountry;

                        // 如果id存在，则将该条数据添加到convertedData中
                        if (id) {
                            convertedData.push({
                                id: id,
                                detail: "商品數量: " + resultObject[country]
                            });
                        }
                    }
                }
                groupData.push({
                    "name": "商品地區",
                    "data": convertedData
                });

                return true;
            }
            catch (error) {
                console.log(`${error.message}`);
                console.log('fetchFail')
                return false;
            }
        }

        (async () => {
            try {
                const response = await fetch('@Url.Content("~/TVproducts/countries")')
                if (!response.ok) {
                    console.log(response.status);
                    throw new Error(`${response.status}`);
                }
                const datas = await response.json();

                for (var data of datas) {
                    countries.push(data)
                }

                var Regions = datas.reduce(function (groups, item) {
                    if (!groups[item.fRegion]) {
                        groups[item.fRegion] = [];
                    }
                    groups[item.fRegion].push(item);
                    return groups;
                }, {});
                regions = Regions;
            }
            catch (error) {
                console.log(`${error.message}`);
                console.log('fetchFail')
                return false;
            }
        })();
    </script>
    <script src="~/js/visaData.js" asp-append-version="true"></script>
    <script src="//cdn.amcharts.com/lib/5/index.js"></script>
    <script src="//cdn.amcharts.com/lib/5/map.js"></script>
    <script src="//cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="~/js/translate.js" asp-append-version="true"></script>
    <script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="~/js/createMap.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
        function regionChange(e, v) {
            if (v === 0) {
                return;
            }
            else {
                const filteredCountries = countries.filter(function (item) {
                    return item.fRegion === v;
                });
                if (filteredCountries.length > 0) {
                    let html = `<option value=0>請選擇國家</option>`;
                    for (var c of filteredCountries) {
                        html += `<option value=${c.fId}>${c.fCountry}</option>`
                    }
                    e.target.nextElementSibling.nextElementSibling.innerHTML = html;
                }
            }
        }

        const enterance = document.getElementById('enterance');

        
    </script>




    
    <script>
        $(".custom-carousel").owlCarousel({
  autoWidth: true,
  loop: true
});
$(document).ready(function () {
  $(".custom-carousel .item").click(function () {
    $(".custom-carousel .item").not($(this)).removeClass("active");
    $(this).toggleClass("active");
  });
});

    </script>
}